body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  padding: 5px;
  margin: 20px;
  border-radius: 15px;
}
input[type=submit]{
  width: 50%;
  color: white;
  background-color: green;
  border-radius: 10px;
  border: green;
  padding: 10px;
  font-size: 1.5ch;
  margin-top: 75px;
}
label{
  font-size: 2ch;
}